<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

  <typeAliases>
    <typeAlias type="domain.InventoryVO" alias="ivo"/>
    <typeAlias type="domain.ClassifiVO" alias="cvo"/>
    <typeAlias type="domain.VendorVO" alias="vvo"/>
    <typeAlias type="domain.PartnerVO" alias="pvo"/>
    <typeAlias type="domain.AccountVO" alias="avo"/>
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/semi_erp"/>
        <property name="username" value="erpadmin"/>
        <property name="password" value="erp"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="mapper/inventoryMapper.xml"/>
    <mapper resource="mapper/asyncMapper.xml"/>
    <mapper resource="mapper/accountMapper.xml"/>
    <mapper resource="mapper/partnerMapper.xml"/>
  </mappers>
  
</configuration>