<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="LoginMapper">
<select id="login" parameterType="avo" resultType="avo">
SELECT
  uid
  , account
  , pwd
  , email
  , name
  , a.grade
  , g.grade_name
FROM
  account a
    INNER JOIN grade g
      ON a.grade = g.grade
WHERE
  account=#{account}
  AND pwd=#{pwd}
</select>

</mapper>